<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1>Looping through list</h1>
        {{characters[0]}}

        <ul>
            <li v-for="char in characters">{{char}}</li>
        </ul>

        <table border="true">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Name</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tr v-for="(ninja, index) in ninjas">
                <td>{{index}}</td>
                <td>{{ninja.name}}</td>
                <td>{{ninja.age}}</td>
            </tr>
        </table>
    </div>
    <script src="app.js"></script>
</body>
</html>